<!DOCTYPE html>
<html>
<%= render 'layouts/head/head' %>
<body id="app" class="<%= controller_name %> <%= action_name %> bg-black dker">
	<%= render "shared/notifications" %>
	<%= yield %>
</body>
</html>